widget, ul {
	float:left;
	width:45%;
}

widget {
	background: orange;
	height: 200px;
}

.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

section {
	background: #ff9900;
}

ul {
	list-style: none;
}